<<<<<<< HEAD
* {
=======
*{
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

<<<<<<< HEAD
body {
  background-image: url("https://leeskyserver.com/assets/logo.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #000;
  color: #fff;
  padding: 70px;
  text-align: center;
}

.banner h1 {
  margin: 0;
  font-size: 36px;
}

.banner p {
  margin: 10px 0 0;
  font-size: 18px;
}

ul,
li {
=======
ul, li {
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
  display: inline-block;
  text-decoration: none;
  color: rgba(110, 83, 61, 0.637);
  font-weight: bold;
  list-style-type: none;
<<<<<<< HEAD
  font-size: x-large;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

#logo {
  height: 10px;
  position: relative;
  max-width: 100px;
  margin-right: 50px;
  margin-bottom: -30px;
=======
  font-size: large;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline;
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
}

a {
  text-decoration: none;
  color: inherit;
}

.board2_wrap {
  width: 1000px;
<<<<<<< HEAD
  margin: 50px auto;
  text-align: left;
}

.board2_list_wrap {
  margin-bottom: auto;
}

.board2_title {
  margin-bottom: 40px;
  text-align: center;
}

strong {
=======
  margin: 100px auto;
}

.board2_title {
  margin-bottom: 30px;
  text-align: center;
}

.board2_wrap strong {
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
  font-size: 3rem;
}

.board2_title p {
  margin-top: 5px;
  font-size: 1.4rem;
}

.bt_wrap {
<<<<<<< HEAD
  margin-top: 40px;
  text-align: right;
=======
  margin-top: 30px;
  text-align: center;
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
  font-size: 0;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
<<<<<<< HEAD
  text-align: center;
  margin-bottom: 45px;
=======
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
  font-size: 1.4rem;
}

.bt_wrap a:first-child {
  margin-left: 0;
}

.bt_wrap a.on {
  background: #000;
  color: #fff;
}

.board2_list {
  width: 100%;
<<<<<<< HEAD
  height: 300%;
  border-top: 1px solid #000;
=======
  border-top: 2px solid #000;
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
}

.board2_list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.board2_list > div.top {
<<<<<<< HEAD
  border-bottom: 1px solid #000;
  border-top: 10px;
=======
  border-bottom: 1px solid #999;
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
}

.board2_list > div:last-child {
  border-bottom: 1px solid #000;
}

.board2_list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}

.board2_list > div.top > div {
  font-weight: 600;
}

.board2_list .num {
  width: 10%;
}

.board2_list .title {
  width: 60%;
<<<<<<< HEAD
=======
  text-align: left;
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
}

.board2_list .top .title {
  text-align: center;
}

.board2_list .writer {
  width: 10%;
}

.board2_list .date {
  width: 10%;
}

.board2_list .count {
  width: 10%;
}

.board2_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board2_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-left: 0;
  line-height: 100%;
}

.board2_page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.board2_page a.num {
  padding-top: 9px;
  font-size: 1.4rem;
}

<<<<<<< HEAD
.on {
  border-color: #000;
  background-color: #000;
  color: #fff;
  margin-bottom: 100px;
=======
.board2_page a.num.on {
  border-color: #000;
  background-color: #000;
  color: #fff;
>>>>>>> 9fa256d6cb1470e7ad6910c9906f9fcfdfac82c8
}

.board2_page a:first-child {
  border-left: 1px solid #ddd;
}