/* Reset 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    text-align: center;
}

a{
    text-decoration: none;
}

.container {
    position: relative;
    top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 670px;
    height: 809px;
    margin-top: 28px;
    margin-bottom: 24px;
    background: #ffffff;
    border-bottom: 1px solid #aacdff;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
  }
  
ul, li {
    display: inline-block;
    text-decoration: none;
    color: rgba(110, 83, 61, 0.637);
    font-weight: bold;
    list-style-type: none;
    font-size: x-large;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline;
}

strong {
    font-size: 3rem
}

.list_title{
    display: flex;
    align-items: center;
    justify-content: center;
}